html,
body,
#root {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("./src/assets/background.png");
    background-size: cover;
}

#root {
    display: grid;
    grid-template-rows: 80px minmax(0, 1fr);
}

#main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr);
}

#left-col {
    display: grid;
    grid-template-rows: minmax(0, 3fr) minmax(0, 1fr);
}