/backend/bin
/backend/.vs
/backend/obj
/.vs
.env
/frontend/.vs
todo.txt
/GraphForge.Generator/obj
/GraphForge.Runtime/bin
/GraphForge.Runtime/obj
/GraphForge.Generator/bin
/GraphForge.Contracts/obj
/GraphForge.Contracts/bin
/GraphForge.Runtime.Tests/bin
/GraphForge.Runtime.Tests/obj
/GraphForge.Validation/obj
/GraphForge.Validation/bin
/GraphForge.Validation.Tests/bin
/GraphForge.Validation.Tests/obj
